header {
    display: flex;
    align-items: center;
    column-gap: 64px;

    width: 100%;
    max-width: 1400px;
    padding-top: 24px;

}

header img{
    width: 70px;
    height: auto;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 48px;

    list-style: none;
}

.navigation__link {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;

    text-transform: uppercase;

    position: relative;
}

.navigation__link:hover {
    color: var(--green);
}

.navigation__link::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60%;
    height: 1px;
    background: var(--green);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;

}

.navigation__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.4s;
}


.navigation__social{
    margin-left: auto;

    display: flex;
    align-items: center;
    column-gap: 24px;

}


.navigation__social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 0.3s;
}

.navigation__social svg:hover {
    opacity: 1;
    transform: translateY(-5px);
    cursor: pointer;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


@media(max-width: 1440px){
    
   
     header{
       
    max-width: 1265px;
      }
}


@media(max-width: 1200px){
    
   
    header{
      
   max-width: 1080px;

   
     }


     .navigation__link {
        font-size: 13px;
    }

}

@media(max-width: 1080px){
        header {
         max-width: 868px;
        }

}


@media(max-width: 768px){

    #app{
        padding: 1.5rem 4rem;
    }

    .navigation, .navigation__social{
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        

    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1.2rem;
    }

    .mobile-menu .navigation{
        display: block;
        padding: 1rem 2rem;

    }

    .mobile-menu .navigation__social{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .navigation__social {
        width: 100%;
    }

    .open{
        display:block
    }

}